.loginSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 200px;
  gap: 10px;
}

.text {
  color: #0866ff;
  font-weight: bold;
}
